[submodule "src/subprojects/microlog"]
	path = submodules/microlog
	url = https://github.com/an-dr/microlog
[submodule "src/subprojects/rEmotion"]
	path = submodules/rEmotion
	url = https://github.com/an-dr/rEmotion.git
[submodule "src/subprojects/r_giskard_EmotionCore"]
	path = submodules/EmotionCore
	url = https://github.com/an-dr/r_giskard_EmotionCore.git
